@media (max-width: 768px) {
   .header__content-title {
      font-size: 36px;
      margin-bottom: 18px;
   }
   .header__content-img {
      margin-bottom: 30px;
   }
   .header__content-text {
      font-size: 28px;
   }
   .new-opportunities__title {
      max-width: 446px;
      margin: 0 auto;
      margin-bottom: 36px;
   }
   .questions__item-text {
      max-width: 632px;
   }
}

@media (max-width: 320px) {
   .indent {
      padding: 16px 0;
   }
   .info {
      padding-top: 16px;
      padding-bottom: 1px;
      p {
         margin-bottom: 15px;
      }
   }
   .header__content-title {
      font-size: 15px;
   }
   .header__content-text {
      font-size: 11px;
   }
   .header__bottom-text {
      font-size: 10px;
   }
   .new-opportunities__title {
      font-size: 14px;
      line-height: 19px;
      max-width: 280px;
   }
   .new-opportunities__item {
      max-width: 146px;
   }
   .new-opportunities__item-title {
      font-size: 10px;
      line-height: 14px;
      padding: 16px 3px;
   }
   .new-opportunities__item-text {
      font-size: 8px;
      line-height: 11px;
      padding: 16px 10px;
      min-height: 90px;
   }
   .new-opportunities__item + .new-opportunities__item {
      margin-left: 8px;
   }
   .new-opportunities__btn {
      font-size: 12px;
      padding: 7px 21px;
   }
   .new-opportunities__title,
   .new-opportunities__box,
   .info__title,
   .social__title {
      margin-bottom: 16px;
   }
   .social__title {
      font-size: 12px;
      line-height: 16px;
   }
   .social__link-text {
      font-size: 14px;
   }
   .questions__title {
      padding: 18px 0;
      margin-bottom: 0;
      font-size: 20px;
   }
   .questions__text {
      display: block;
   }
   .questions__item-title {
      font-size: 12px;
      line-height: 15px;
      max-width: 250px;
      &::before{
         right: -30px;
      }
   }
   .questions__item-text {
      font-size: 9px;
      line-height: 12px;
   }
   .questions__item.questions__item--active .questions__item-title{
      font-weight: 400;
   }
   .questions__item{
      padding: 7px 0 14px;
   }
   .questions__item.questions__item--active .questions__item-text{
      padding-top: 9px;
   }
   .questions-link{
      display: block;
   }
}
